name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/${{ matrix.arch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        run: |
          echo "GITHUB_REPOSITORY_OWNER_LC=${GITHUB_REPOSITORY_OWNER@L}" >> "${GITHUB_ENV}"
          echo "TALOS_VERSION=$(grep -Po '(?<=TALOS_VERSION=).*' Dockerfile)" >> "${GITHUB_ENV}"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/${{ matrix.arch }}
          build-args: |
            TALOS_ARCH=${{ matrix.arch }}
          tags: ghcr.io/${{ env.GITHUB_REPOSITORY_OWNER_LC }}/vmdisks/talos-openstack:${{ env.TALOS_VERSION }}-${{ matrix.arch }}
